# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.coverage
.pytest_cache/
.tox/

# Virtual Environments
.env
.venv
env/
venv/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
*.log
